
#header-content {
}
.navbar .nav li a {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #B4000F;
  
  }
  
  
.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  }
  
  
  .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
    background-color: #222222;
  }
  
  
  
.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
    background-color: #222222;
  
  }
  
  .navbar-default .navbar-brand {
    font-size: 1.5em;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #B4000F;
  }
  
  
.navbar-default.navbar-shrink {
  padding: 0 0;
  }
.intro-text {
    margin-top:300px;

}


#contact {

    background-color: #121212;
    min-height:100px;

}